* {
    margin: 0;
    padding: 0;
}
ul li {
    list-style-type: none;
}
body {
    background-color: rgb(245,245,245);
}
.hidden {
    display: none !important;
}
.unhidden {
  display: block !important;
}


/* #region 顶部导航栏start */
.top-slider {
    box-sizing: border-box;
    background-color: #121212;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.top-slider .top-left-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 16px;
    min-width: 280px;
}

.top-slider img {
    height: 36px;
}
.arco-divider-vertical {
    border-left: 1px solid rgba(0, 0, 0, .1);
    display: inline-block;
    height: 1em;
    margin: 0;
    max-width: 1px;
    min-width: 1px;
    vertical-align: middle;
}
.top-slider .top-left-slider .arco-divider-vertical {
    color: rgb(255, 255, 255);
    margin: 0px 16px;
    background-color: rgba(255, 255, 255, 0.6);
}
.top-slider .top-left-slider span {
    font-size: 20px;
    line-height: 36px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    user-select: none;
}
.top-slider .top-right-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
    gap: 16px;
    font-size: 12px;
}
.top-slider .top-right-slider img {
    border-radius: 50%;
    overflow: hidden;
}

/* #endregion 顶部导航栏end*/

/* #region 地区select start */
.top-right-slider-region {
    border-radius: 8px;
    position: absolute;
    top: 65px;
    right: 10px;
    height: 200px;
    width: 150px;
    z-index: 1000000;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.region-hidden {
    display: none;
}
.top-right-slider-region ul li{
    margin-top: 10px;
}
/* #endregion 地区select end */


/* #region 侧边导航栏start */
.left-slider {
    z-index: 2;
    width: 220px;
    position: fixed;
    top: 60px;
    bottom: 0;
}
.left-slider .menu {
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 16px 2px 16px 0;

}
.left-slider .menu li {
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    color: #000000eb;
    cursor: pointer;
    line-height: 50px;
}
.left-slider .menu li:hover {
    background-color: rgb(235, 235, 235);
}
.menu-active {
    background-color: rgb(235, 235, 235);
    color: rgba(0, 153, 149, 1) !important;
}
/* #endregion 侧边导航栏end */

/* #region 容器布局start */
.main-content-box {
    position: fixed;
    /* background-color: skyblue; */
    height: 88%;
    width: 82%;
    left: 400px;
    top: 80px;
    max-width: 1000px;
    z-index: 1000;
    -ms-overflow-style: none;  /* Internet Explorer 和 Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-y: scroll;
}
.main-content-box::-webkit-scrollbar { 
  display: none;  /* Safari 和 Chrome */
}

/* #endregion 容器布局end */

/* #region box布局start */
.box .title {
    font-size: 28px;
    line-height: 36px;
    font-weight: 500;
    font-weight: 700;
    color: rgba(0, 0, 0, .92);
}
/* #endregion box布局end */

/* #region box1布局 */
.box1 .load-condition {
    margin-top: 16px;
    border-radius: 8px;
    background-color: #fff;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 4px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.box1 .load-condition ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.box1 .load-condition ul li {
    width: 145px;
    margin-left: 10px;
    height: 70px;
    line-height: 70px;
}
.box1 .load-condition ul li:nth-child(1) {
    background-color: #fff;
}
.box1 .load-condition .submit-button {
    background-color: rgb( 0, 153, 149);
    border: none;
    height: 70px;
    width: 120px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    line-height: 70px;
    cursor: pointer; 
}
.box1 .load-condition .submit-button:hover {
    background-color: rgb(2, 131, 128);
}
.box1 .finish {
    font-size: 20px;
    line-height: 36px;
    font-weight: 500;
    font-weight: 700;
    color: rgba(0, 0, 0, .92);
    margin-top: 40px;
}
/* #endregion box1布局end */

/* #region 加载动画 */
.load-gif {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10000000; 
    padding: 20px; 
    width: 200px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.load-overlay {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); /* 半透明黑色背景 */
    z-index: 10000; /* 确保它在其他内容之上，但在.load-gif之下 */
}
.load-gif span {
    color: #fff;
    font-size: 16px;
}


.lds-spinner,
.lds-spinner div,
.lds-spinner div:after {
  box-sizing: border-box;
}
.lds-spinner {
  color: #fff;
  width: 80px;
  height: 80px;
  left: 450px;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3.2px;
  left: 36.8px;
  width: 6.4px;
  height: 17.6px;
  border-radius: 20%;
  background: currentColor;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* #endregion 加载动画end */

/* #region box2布局start */
/* #region box2 条件筛选布局start */
.box2 .select-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box2 .select-box .select-option {
  display: block;
  /* width: 100%; */
  /* margin-left: -24px; */
  /* z-index: 100; */
  box-shadow: rgba(0, 0, 0, 0.12) 0px 8px 12px;
  border-radius: 0px 0px 8px 8px;
  border-top: 1px solid rgb(141 131 131);
  border-bottom: 1px solid rgb(141 131 131);
  margin-top: 16px;
  margin-bottom: 16px;
  background: #fff;

}
.box2 .select-box .select-option ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 15px;
  margin-bottom: 10px;
}
.box2 .select-box .select-option>ul>li {
  min-height: 32px;
  width: 280px;
  border-color: rgba(0, 0, 0, .14);
  margin-bottom: 12px;
  padding-left: 6px;
  padding-right: 6px;
  /* border: 1px solid rgba(0, 0, 0, .14); */
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, .14);
  color: rgba(0, 0, 0, .65);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 35px;
  font-weight: 400;
  color: black;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}
.box2 .select-box .select-option ul li:last-child {
  border: none;
}
.box2 .select-box .select-option ul li:last-child:hover {
  background-color: transparent;
}
.box2 .select-box .select-option ul li:hover {
  border-color: rgb(2, 110, 107);
  background-color: #f5f5f5;
}
.box2 .select-box .select-option ul li .check .describe{
  cursor: pointer !important;
}
#is-invite {
  cursor: pointer !important;
}

.box2 .select-box .select-option ul li .details.select-box-201 {
  background: #fff;
  width: 292px;
  height: 200px;
  border: 1px solid #ddd;
  border-radius: 8px;
  position: absolute;
  top: 38px;
  left: 0;
  z-index: 10;
  overflow-y: auto;
}

.box2 .select-box .select-option ul li .details {
  background: #fff;
  width: 292px;
  height: 90px;
  border: 1px solid #ddd;
  border-radius: 8px;
  position: absolute;
  top: 38px;
  left: 0;
  z-index: 10;
  overflow-y: auto;
}
.box2 .select-box .select-option ul li .details li {
  width: 292px !important;
  height: 30px;
  margin-top: 5px;
  line-height: 30px;
}
.box2 .select-box .select-option ul li .details li.click {
  color: rgb(0, 153, 149);
}


/* 在rmain.css中添加 */
/* 双滑块样式 */
.range-container {
  padding: 20px;
}

.range-inputs {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.range-inputs input {
  width: 90px;
  padding: 4px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
}
.range-inputs input {
  transition: all 0.3s;
  color: #333;
}
.range-inputs input:focus {
  border-color: #009995;
  outline: none;
  box-shadow: 0 0 0 2px rgba(0,153,149,0.2);
}

.main-content-box .send-data .select-box ul.select-button {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.main-content-box .send-data .select-box ul.select-button li{
  background-color: rgb(0, 153, 149);
  border: none;
  height: 30px;
  width: 90px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.main-content-box .send-data .select-box ul.select-button li:hover {
  background-color: rgb(2, 131, 128);
}
/* #endregion box2 条件筛选布局end */

/* #region box2 数据排序布局start */
/* .main-content-box .send-data .sort-reason {
  vertical-align: middle;
} */
.main-content-box .send-data .sort-reason .sort-describe-flex {
  color: rgba(0, 0, 0, .55);
}
.main-content-box .send-data .sort-reason {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.main-content-box .send-data .sort-reason svg {
  width: 0.768555em !important;
}
.main-content-box .send-data .sort-reason .sort-box {
  position: relative;
  cursor: pointer;
}
.main-content-box .send-data .sort-reason .sort-box .sort-reason-box {
  z-index: 1;
  position: absolute;
  top: 20px;
  left: 0;
  padding: 4px;
  min-width: 172px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .14);
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 8px 20px rgba(0, 0, 0, .12);
  display: flex;
  flex-direction: column;
}
.main-content-box .send-data .sort-reason .sort-box .sort-reason-box li {
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  padding: 0 8px;
  height: 36px;
  line-height: 36px;
  margin-top: 2px;
}
.main-content-box .send-data .sort-reason .sort-box .sort-reason-box li.mark {
  background-color: rgba(0, 0, 0, .05);
  border-radius: 8px;
}
.main-content-box .send-data .sort-reason .sort-box .sort-reason-box li:hover {
  background-color: rgba(0, 0, 0, .05);
  border-radius: 8px;
}
/* #endregion box2 数据排序布局end */

/* #region box2 数据展示布局start */
.main-content-box .send-data .display-creator-box {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 300px;
  overflow-y: auto;
}
.main-content-box .send-data .display-creator-box table {
  background-color: #fff;
  width: 100%;
  border-collapse: collapse;
}
.main-content-box .send-data .display-creator-box table tr {
  text-align: center;
  height: 60px;
  vertical-align: middle;
}
.main-content-box .send-data .display-creator-box table thead tr th .check-num {
  color: rgba(0, 153, 149, 1);
}
.main-content-box .send-data .display-creator-box table tbody tr  {
  border-top: 1px solid rgb(226,226,226);
}
.main-content-box .send-data .display-creator-box table tbody tr:hover {
  box-shadow: 0px 6px 20px rgba(33, 37, 51, 0.06);
  background-color: #f8f8f8;
}
.main-content-box .send-data .display-creator-box table tbody tr:nth-last-child(1){
  border-bottom: 1px solid rgb(226,226,226);
}
.main-content-box .send-data .display-creator-box table tbody tr .rank {
  margin-left: 10px;
}
.main-content-box .send-data .display-creator-box table input {
  transform: scale(1.5);
}
.main-content-box .send-data .display-creator-box table tbody tr td input:hover {
  cursor: pointer;
}
.main-content-box .send-data .display-creator-box table tbody tr td svg:hover {
  cursor: pointer;
}
.main-content-box .send-data .display-creator-box table thead tr th input:hover {
  cursor: pointer;
}

/* 详细信息展示 */
.main-content-box .send-data .display-creator-details-mask-box {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4); /* 半透明黑色背景 */
  z-index: 3; 
  
}
.main-content-box .send-data .display-creator-details-mask-box .display-creator-details-box {
  z-index: 4;
  /* background-color: #fff; */
  background-color: rgb(245, 245, 245);
  height: 500px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
}
.main-content-box .send-data .display-creator-details-mask-box .display-creator-details-box .fork {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.main-content-box .send-data .display-creator-details-mask-box .display-creator-details-box .craetor-name {
  font-size: 20px;
  font-weight: bolder;
  margin-top: 10px;
  text-align: center;
}
.main-content-box .send-data .display-creator-details-mask-box .display-creator-details-box ul li {
  /* height: 25px; */
  /* line-height: 25px; */
  margin-top: 5px;
  
}
::selection {
  color: rgba(0, 153, 149, 1);; /* 选中文字的颜色 */
  /* background-color: yellowgreen; 选中文字的背景颜色 */
}
.main-content-box .send-data .display-creator-details-mask-box .display-creator-details-box ul li .value {
  color: rgba(0, 153, 149, 1);
}
/* #endregion box2 数据展示布局end */

/* #region box2 文本输入框 start */
.send-info-box .input-info-box {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .06);
  border-radius: 4px;
  display: flex;
  flex-flow: column nowrap;
  height: 166px;
  padding: 0 16px;
}
.send-info-box .index-module__textarea--ypMLj {
  border: 0;
  caret-color: #55585c;
  color: rgba(0, 0, 0, .85);
  font-size: 14px;
  height: 120px;
  line-height: 20px;
  outline: none;
  resize: none;
  padding: 0;
  overflow: auto;
}
.index-module__footer--mSGEi {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 12px 0;
}
.index-module__send--8FbXJ {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.index-module__send--8FbXJ .index-module__limit--hJe4T {
  margin-right: 12px;
}
.index-module__limit--hJe4T {
  color: rgba(0, 0, 0, .4);
  font-size: 14px;
  line-height: 20px;
}
.arco-btn-primary:not(.arco-btn-disabled) {
  background-color: rgb(0,153,149);
  border: 1px solid transparent;
  color: #fff;
}
.arco-btn-size-small {
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 12px;
  height: 24px;
}
.arco-btn {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  outline-color: rgba(0, 0, 0, .65);
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  line-height: 1.5715;
  outline: none;
  position: relative;
  -webkit-transition: all .1slinear;
  transition: all .1slinear;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}
/* #endregion box2 文本输入框 end */

/* #region box3 start */

/* #region box3 选择框 start */
.main-content-box .collaborated-data .has-collaborated-select-box {
  margin-top: 16px;
  border-radius: 8px;
  background-color: #fff;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.main-content-box .collaborated-data .has-collaborated-select-box ul {
  display: flex;
  justify-content: space-around;
}
.main-content-box .collaborated-data .has-collaborated-select-box ul li {
  background-color: rgb(245, 245, 245);
  width: 145px;
  margin-left: 10px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s all linear;
}
.main-content-box .collaborated-data .has-collaborated-select-box ul li:hover {
  background-color: rgb(235, 235, 235);
}
.main-content-box .collaborated-data .has-collaborated-select-box ul li.click {
  background-color: rgb(235, 235, 235);
  color: rgba(0, 153, 149, 1) !important;
}
/* #endregion box3 选择框 end */
/* #region box3 选择框 start */
.main-content-box .collaborated-data .show-container {
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  max-width: 1000px;
  background-color: #fff;
}
.main-content-box .collaborated-data .show-container table {
  width: 100%;
  border-collapse: collapse;
  /* 移除单元格之间的间距 */
  border-spacing: 0;
}
.main-content-box .collaborated-data .show-container table thead tr {
  color: rgba(105, 113, 140, 1);
  height: 30px;
  
}
.main-content-box .collaborated-data .show-container table thead tr th {
  margin: 0;
  padding: 0;
}
.main-content-box .collaborated-data .show-container table thead {
  background-color: #f5f5f5 !important;
}
.main-content-box .collaborated-data .show-container table td {
  text-align: center;
  height: 150px;
}
.main-content-box .collaborated-data .show-container table td:nth-child(1) {
  width: 250px;
}
.main-content-box .collaborated-data .show-container table td:nth-child(2) {
  width: 100px;
}
.main-content-box .collaborated-data .show-container table td:nth-child(3) {
  width: 450px;
  display: flex;
  justify-content: space-around;
}
.main-content-box .collaborated-data .show-container table tbody tr {
  border-top: 1px solid rgb(226, 226, 226);
}

.main-content-box .collaborated-data .show-container table td .scrollable-content {
  height: 150px;
  width: 400px;
  overflow-y: auto;
  margin-left: 3px;
  margin-right: 3px;
  line-height: 35px;
}

/* 定义滚动条轨道 */
.scrollable-content::-webkit-scrollbar {
  width: 2px; /* 滚动条宽度 */
}

/* 定义滚动条轨道背景 */
.scrollable-content::-webkit-scrollbar-track {
  background: #f1f1f1; /* 轨道背景颜色 */
}

/* 定义滚动条手柄样式 */
.scrollable-content::-webkit-scrollbar-thumb {
  background: rgba(0, 153, 149, 1); /* 手柄颜色 */
  border-radius: 10px;
}
.main-content-box .collaborated-data .show-container table td:nth-child(4) {
  width: 100px;
}
.main-content-box .collaborated-data .show-container table td:nth-child(5) {
  width: 100px;
}
.main-content-box .collaborated-data .show-container table td svg.icon {
  cursor: pointer;
}
.main-content-box .collaborated-data .show-container table tbody tr:hover {
  box-shadow: 0px 6px 20px rgba(33, 37, 51, 0.06);
  background-color: #f8f8f8;
}

.main-content-box .collaborated-data .display-collaborated-details-mask-box {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 3;
}
.main-content-box .collaborated-data .display-collaborated-details-mask-box .display-collaborated-details-box {
  z-index: 4;
  background-color: rgb(245, 245, 245);
  height: 500px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
}
.main-content-box .collaborated-data .display-collaborated-details-mask-box .display-collaborated-details-box .fork {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.main-content-box .collaborated-data .display-collaborated-details-mask-box .display-collaborated-details-box .creator-name {
  font-size: 20px;
  font-weight: bolder;
  margin-top: 10px;
  text-align: center;
}
.main-content-box .collaborated-data .display-collaborated-details-mask-box .display-collaborated-details-box > span {
  color: rgba(0, 153, 149, 1);
  text-align: center;
  margin-top: 30px;
  display: block;
}
.main-content-box .collaborated-data .display-collaborated-details-mask-box .display-collaborated-details-box li {
  margin-top: 5px;
}
